/* Google font */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* font */
    --font-dm-mono: "DM Mono", monospace;
    --font-urbanist: "Urbanist", sans-serif;

    /* bg image */
    --hero-bg-img: url("/hero/hero-bg.png");

    /* theme */
    --theme-primary-1: #6e4ef2;
    --theme-primary-2: #62a92b;
    --theme-primary-3: #be6895;
    --theme-secondary-1: #21212d;
    --theme-secondary-3: #b2a4ab;

    /* bg */
    --bg-1: #edeaf8;
    --bg-2: #6e4ef2;
    --bg-3: #ffffff;
    --bg-4: #fbf8f9;
    --bg-5: #e8e8e8;
    --bg-6: #f6f4fd;

    /* neutral */
    --neutral-0: #1f1f24;
    --neutral-100: #272730;
    --neutral-200: #565662;
    --neutral-300: #5e5e65;
    --neutral-400: #6d6d72;
    --neutral-500: #858587;
    --neutral-600: #969698;
    --neutral-700: #b2b2ba;
    --neutral-800: #c5c5ca;
    --neutral-900: #edeaf8;
    --neutral-1000: #ffffff;

    /* system */
    --system-success: #64e1b0;
    --system-info: #5577a7;
    --system-warning: #ffd45d;
    --system-danger: #ec4040;
    --system-muted: #9ca3af;

    /* border */
    --border-1: #c0dcbc;

    /* linear gradient */
    --linear-1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%);
    --linear-2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%);
    --linear-3: linear-gradient(
      -180deg,
      #dfdfea 0%,
      rgba(223, 223, 234, 0.31) 31%,
      rgba(223, 223, 234, 0) 100%
    );
    --linear-4: linear-gradient(-90deg, #33a381 0%, #129840 100%);
    --linear-5: linear-gradient(
      -90deg,
      rgba(31, 31, 36, 0.45) 0%,
      rgb(31, 31, 36) 100%
    );

    /* shadow */
    --shadow-1: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
    --shadow-2: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);

    /* degree */
    --angle: 360deg;

    /* Light mode custom scrollbar */
    ::-webkit-scrollbar {
      width: 12px;
      background-color: #f0f0f5; /* Lighter background for scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
      background-color: #c0c0c5; /* Light thumb color */
      border-radius: 8px; /* Rounded edges for the thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #a9a9b0; /* Slightly darker color on hover */
    }

    ::-webkit-scrollbar-track {
      background-color: #e0e0e5; /* Track color for the scrollbar */
    }
  }

  .dark {
    /* Dark theme customizations */
    --hero-bg-img: url("/hero/hero-bg-dark.png");
    --theme-primary-1: #6e4ef2;
    --theme-primary-2: #a8ff53;
    --theme-primary-3: #fcc6e2;
    --theme-secondary-1: #21212d;
    --theme-secondary-2: #f778ba;
    --theme-secondary-3: #40363b;

    /* Dark mode backgrounds */
    --bg-1: #24242d;
    --bg-2: #272730;
    --bg-3: #272730;
    --bg-4: #1f1f24;
    --bg-5: #1f1f24;
    --bg-6: #2a2a31;

    /* Dark mode neutrals */
    --neutral-0: #ffffff;
    --neutral-100: #e9e9ea;
    --neutral-200: #bcbcbe;
    --neutral-300: #8f8f92;
    --neutral-400: #79797c;
    --neutral-500: #636366;
    --neutral-600: #3b3b41;
    --neutral-700: #2a2a31;
    --neutral-800: #24242d;
    --neutral-900: #272730;
    --neutral-1000: #1f1f24;

    /* system colors */
    --system-success: #10b983;
    --system-info: #0f172e;
    --system-warning: #fcd34e;
    --system-danger: #fca5a7;
    --system-muted: #9ca3af;

    /* border */
    --border-1: #3b413d;

    /* linear gradients */
    --linear-1: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%);
    --linear-2: linear-gradient(-180deg, #6e4ef2 0%, transparent 100%);
    --linear-3: linear-gradient(-180deg, #5e5e63 0%, transparent 100%);
    --linear-4: linear-gradient(-90deg, #659932 0%, #a8ff53 100%);
    --linear-5: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgb(255, 255, 255) 100%
    );

    /* Dark mode custom scrollbar */
    ::-webkit-scrollbar {
      width: 12px;
      background-color: #1f1f24; /* Darker background for scrollbar track */
    }

    ::-webkit-scrollbar-thumb {
      background-color: #3b3b41; /* Dark thumb color */
      border-radius: 8px; /* Rounded edges for the thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
      background-color: #4a4a51; /* Slightly lighter color on hover */
    }

    ::-webkit-scrollbar-track {
      background-color: #272730; /* Track color for the scrollbar */
    }

    /* custom classes */
    .bg-overlay {
      background: linear-gradient(180deg, rgba(39, 39, 48, 0) 0%, #272730 100%);
    }
  }
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 !scroll-smooth;
  }

  body {
    @apply bg-bg-5 font-body font-normal text-base text-neutral-200 leading-normal;
  }

  button {
    @apply active:outline-none;
  }

  p {
    @apply leading-[26px];
  }
}

/* Container and typography */
@layer components {
  .container {
    @apply w-full mx-auto px-[12px];
    @apply sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1320px];
  }
}

@layer utilities {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-neutral-0;
    margin-top: 0px;
    margin-bottom: 16px;
  }

  .h1 {
    @apply text-[49px] font-medium;
  }
  .h2 {
    @apply text-[42px] font-medium;
  }
  .h3 {
    @apply text-[35px] font-medium leading-extra-tight;
  }
  .h4 {
    @apply text-[29px] font-medium;
  }
  .h5 {
    @apply text-[24px] font-medium;
  }
  .h6 {
    @apply text-[20px] font-medium;
  }

  /* Typography */
  .base-semibold {
    @apply text-[16px] font-semibold;
  }
  .base-medium {
    @apply text-[16px] font-medium;
  }
  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }
  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }
  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }
  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }
  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }
  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }
  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }
  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* Utilities */
  .invert-white {
    @apply invert brightness-0 transition;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }

  /* Custom classes */
  .text-linear-4 {
    background: var(--linear-4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bg-overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    height: 80%;
    width: 100%;
  }

  .git-item-dot::before {
    content: "•";
    color: #a0a0a0; /* Customize the dot color */
    font-size: 1.25rem; /* Adjust the size of the dot */
    position: absolute;
    left: -17px; /* Position the dot to the left of the list item */
    top: 0.1rem; /* Adjust vertically to center with text */
  }

  /* Box linear animation */
  .box-linear-animation {
    border-radius: 8px;
    border: 1px solid #0000;
    background: linear-gradient(var(--bg-3), var(--bg-3)) padding-box,
      linear-gradient(
          var(--angle),
          var(--bg-3) 90%,
          var(--theme-primary-2) 100%
        )
        border-box;
    animation: 8s rotate linear infinite;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
}
